@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  /* color */

  --MidnightGreen: #014e56;
  --LightCoral: #f67e7e;
  --White: #ffffff;
  --RaptureBlue: #79c8c7;
  --PoliceBlue: #2c6269;
  --DeepJungleGreen: #004047;
  --SacramentoStateGreen: #012f34;
  --DarkGreen: #002529;

  /* fonts */

  --bold: "Livvic-Bold";
  --SemiBold: "Livvic-SemiBold";
}

.btn {
  color: var(--White);
  border: 2px solid var(--White);
  border-radius: 24px;
  padding: 11px 32px;
}
.btn:hover {
  background: var(--White);
  color: var(--DarkGreen);
}

/* HEADER START */

.header {
  background: var(--MidnightGreen);
}
.header__nav__link {
  color: var(--White);
  font-family: var(--SemiBold);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.header__nav__link:hover {
  color: #f67e7e;
}
.header__nav__link:active {
  color: #f67e7e;
  opacity: 0.6;
}
.header__desc {
  padding: 113px 0 250px 0;
}
.header__title {
  color: var(--White);
  font-family: var(--bold);
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}
.header__title span {
  color: var(--LightCoral);
}
.header__text {
  color: var(--White);
  font-family: var(--SemiBold);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: 79px;
}
.line {
  width: 50px;
  height: 4px;
  background: var(--RaptureBlue);
}
/* HEADER END */

/* MAIN START */

.main {
}
.main__teams {
  padding: 140px 0;
  background: var(--SacramentoStateGreen);
}
.main__title {
  color: var(--White);
  font-family: var(--bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 54px;
}
.main__services__title {
  color: var(--LightCoral);
  font-family: var(--bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.main__services__text {
  color: var(--White);
  font-family: var(--SemiBold);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.main__stories {
  background: #004047;
  padding-top: 140px;
}

.main__title2 {
  color: var(--White);
  text-align: center;
  font-family: var(--bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.main__title2 span {
  color: var(--RaptureBlue);
}
.main__stories__text {
  color: var(--White);
  text-align: center;
  font-family: var(--SemiBold);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.main__stories__title {
  color: var(--RaptureBlue);
  text-align: center;
  font-family: var(--bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.main__stories__job {
  color: var(--White);
  text-align: center;
  font-family: var(--SemiBold);
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}
/* MAIN END */
